name: Update release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ^1.25
        id: go

      - name: Build openai
        run: GOOS="wasip1" GOARCH="wasm" go build -o openai-plugin.wasm -buildmode=c-shared plugins/openai-reviewer/main.go
      
      - name: Build gemini
        run: GOOS="wasip1" GOARCH="wasm" go build -o gemini-plugin.wasm -buildmode=c-shared plugins/gemini-reviewer/main.go
      
      - run: go install github.com/git-chglog/git-chglog/cmd/git-chglog@latest
      - run: git-chglog -o release.txt ${{ github.ref_name }}

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          body_path: release.txt
          files: |
            openai-plugin.wasm
            plugins/openai-reviewer/openai-reviewer.yaml
            gemini-plugin.wasm
            plugins/gemini-reviewer/gemini-reviewer.yaml
